nav{
    margin-top: 20px;
    position: fixed;
    left: 75%;
    backdrop-filter: blur(15px);
    background: rgba(0,0,0,.3);
    border-radius: 3rem;
    gap: 0.8rem;
    padding: 0.7rem 1.7rem;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: -webkit-max-content;
    width: max-content;
    z-index: 2;
}
nav a{
    color: var(--orange);
    font-size: 1.4rem;
    padding: 1rem;
}

nav a:hover{
    color: var(--purple);
    background-color: var(--orange);
    border-radius: 70%;
    transition: all .4s ease;
}